<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Noah's Library</title>
    {% endblock %}
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
      rel="stylesheet" 
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        {% block sidebar %}
          <div class="d-flex flex-column col-sm-3 bg-dark sidebar min-vh-100">
            <div>
              <div class="d-flex justify-content-center">
                <span class="h1 text-white justify-content-center pt-2">Menu</span>
              </div>
              <div class="menu-items">
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a {% if request.path == "/catalog/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'index' %}">
                      <i class="h5 fa fa-house-chimney align-middle"></i>&nbsp;<span class="fs-4 d-sm-inline">Home</span>
                    </a>
                  </li>
                  <li class="nav-item mt-1">
                    <a {% if "/catalog/book" in request.path and "create" not in request.path and "renew" not in request.path and "bookinstance" not in request.path and "return" not in request.path%} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'books' %}">
                      <i class="h5 fa fa-book align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Books</span>
                    </a>
                  </li>
                  <li class="nav-item mt-1">
                    <a {% if "/catalog/author" in request.path and "create" not in request.path %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'authors' %}">
                      <i class="h5 fa fa-pencil align-middle"></i>&nbsp;<span class="fs-4 d-sm-inline">Authors</span>
                    </a>
                  </li>
                  <li class="nav-item mt-1">
                    <a {% if "/catalog/genre" in request.path and "create" not in request.path %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'genres' %}">
                      <i class="h5 fa-solid fa-masks-theater"></i>&nbsp;<span class="fs-4 d-sm-inline">Genres</span>
                    </a>
                  </li>
                  <li class="nav-item mt-1">
                    <a {% if "/catalog/language" in request.path and "create" not in request.path %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'languages' %}">
                      &nbsp;<i class="h5 fa-solid fa-globe"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Languages</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <hr class="mt-1 text-white">
            {% if perms.catalog.can_mark_returned %}
              <div>
                <div class="d-flex justify-content-center">
                  <span class="h1 text-white justify-content-center">Staff</span>
                </div>
                <div class="menu-items">
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item mt-1">
                      <a {% if request.path == "/catalog/borrowed/" or "renew" in request.path or "return" in request.path %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'borrowed' %}">
                        <i class="h5 fa fa-handshake-simple align-middle"></i>&nbsp;<span class="fs-4 d-sm-inline">Borrowed</span>
                      </a>
                    </li>
                    {% if perms.catalog.add_author %}
                      <li class="nav-item mt-1">
                        <a {% if request.path == "/catalog/author/create/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'author-create' %}">
                          &nbsp;<i class="h5 fa fa-plus align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Add Author</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if perms.catalog.add_book %}
                      <li class="nav-item mt-1">
                        <a {% if request.path == "/catalog/book/create/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'book-create' %}">
                          &nbsp;<i class="h5 fa fa-plus align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Add Book</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if perms.catalog.add_genre %}
                      <li class="nav-item mt-1">
                        <a {% if request.path == "/catalog/genre/create/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'genre-create' %}">
                          &nbsp;<i class="h5 fa fa-plus align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Add Genre</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if perms.catalog.add_language %}
                      <li class="nav-item mt-1">
                        <a {% if request.path == "/catalog/language/create/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'language-create' %}">
                          &nbsp;<i class="h5 fa fa-plus align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Add Language</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if perms.catalog.add_bookinstance %}
                      <li class="nav-item mt-1">
                        <a {% if request.path == "/catalog/bookinstance/create/" %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'bookinstance-create' %}">
                          &nbsp;<i class="h5 fa fa-plus align-middle"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Add Book Instance</span>
                        </a>
                      </li>
                    {% endif %}
                    {% if perms.catalog.delete_bookinstance %}
                      <li class="nav-item mt-1">
                        <a {% if "/catalog/bookinstance" in request.path and "create" not in request.path %} class="nav-link-active nav-link text-white" {% else %} class="nav-link text-white" {% endif %} href="{% url 'bookinstances' %}">
                          &nbsp;&nbsp;<i class="h5 fa-solid fa-bookmark"></i>&nbsp;&nbsp;<span class="fs-4 d-sm-inline">Book Instances</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <hr class="mt-1 text-white">
            {% endif %}
            {% if user.is_authenticated %}
              <div class="user position-fixed bottom-0 start-0 end-0 col-sm-3 sidebar">
                <div class="dropup text-center">
                  <button class="btn btn-lg dropdown-toggle text-white align-middle custom-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="h2 fa-regular fa-circle-user align-middle"></i>&nbsp;<span class="fs-4 d-sm-inline">{{ user.get_username }}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="{% url 'my-borrowed' %}">My Books</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="dropdown-item">Logout</button>
                      </form>
                    </li>
                  </ul>
                </div>
              </div>
            {% else %}
              <div class="user position-absolute bottom-0 start-0 end-0 col-sm-3 sidebar">
                <button class="btn btn-lg align-middle w-100 custom-btn" type="button">
                  <span class="fs-3"><a class="nav-link text-white" href="{% url 'login' %}">Login</a></span>
                </button>
              </div>
            {% endif %}
          </div>
        {% endblock %}
        <div class="col-md-9 content min-vh-100">
          <div class="main-content bg-dark text-white p-4">
            {% block content %}
            {% endblock %}
          </div>
          <div>
            {% block pagination %}
              {% if is_paginated %}
                <div class="pagination fs-4 d-flex justify-content-center">
                    <span class="page-links text-white d-flex align-middle">
                        {% if page_obj.has_previous %}
                          <button type="button" class="btn border-0">
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                              <i class="h4 fa fa-arrow-left text-white"></i>
                            </a>
                          </button>
                        {% endif %}
                        <span class="page-current">
                          &nbsp;Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}&nbsp;
                        </span>
                        {% if page_obj.has_next %}
                          <button type="button" class="btn border-0">
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                              <i class="h4 fa fa-arrow-right text-white"></i>
                            </a>
                          </button>
                        {% endif %}
                    </span>
                </div>
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>