{% extends "base_generic.html" %}

{% block content %}
  <div>
    <div class="text-center">
      <h1>Noah's Library</h1>
      <p>
        Welcome to Noah's Library, a website developed by
        <em>Mozilla Developer Network</em> & Noah Huesman!
      </p>
    </div>
    <div>
      <br>
      <h3>Noah's Library has the following record counts:</h3>
      <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
        <li><strong>Genres:</strong> {{ num_genres }}</li>
        <li><strong>Book Titles Containing "The":</strong> {{ num_books_with_the }}</li>
      </ul>
      <br>
      <p class="text-center">
        You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
      </p>
    </div>
  </div>
{% endblock %}
