{% extends "base_generic.html" %}

{% block content %}
    <h1>My Borrowed Books</h1>

    {% if bookinstance_list %}
    <ul class="list">
      {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
            <a class="text-link text-decoration-none" href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a> ({{ bookinst.due_back }})
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>You have not borrowed any books.</p>
    {% endif %}
{% endblock %}
