{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Language: {{ language }}</h1>

{% if language.book_set.all %}

<p>You can't delete this language until all their books have been deleted:</p>
<ul>
  {% for book in language.book_set.all %}
    <li><a href="{% url 'book-detail' book.pk %}">{{book}}</a> ({{book.bookinstance_set.all.count}})</li>
  {% endfor %}
</ul>

{% else %}
<p>Are you sure you want to delete this language?</p>

<form action="" method="POST">
  {% csrf_token %}
  <button class="btn btn-danger fs-5" type="submit">Yes, Delete</button>
</form>
{% endif %}

{% endblock %}
